.team {
    background-color: lightgray;
    border: 3px solid gray;
    padding: 5px;
    margin: 15px;
}

.sub-team {
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px;
    margin: 15px;
}